---
import { HomePage } from "../components/home";
---

<html lang="en" class="w-full h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>GPT-Search</title>
  </head>
  <body class="min-w-[400px] h-full w-full">
    <HomePage />
  </body>
</html>
